
@font-face {
  font-family: "Tahoma Bold";
  src: url('Tahoma Bold.ttf');
}

@font-face {
  font-family: "Tahoma";
  src: url('Tahoma.ttf');
}

/*--------------------------------------------------*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:     100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2f2f2f;
  font-size: 13px;
  line-height: 22px;
}

/* ////////// GENERIQUE ////////*/

h1, h2, h3 {
  text-transform: uppercase;
  color: #007a89;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  line-height: 25px;
}

h4{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

h5 {
  font-size: 15px;
  color: #007a89;
  margin: 0;
}

h2.entry-title a{
  color:#000;
  font-weight: 400;
}

h2.entry-title a:hover{
  text-decoration: none;
  color:#c20102;
}

a {
  cursor: pointer;
}

.tab-pane#dates {
  padding-bottom: 30px;
  color: #cb2929;
  font-size: 18px;
  text-align: center;
}

.no-session {
  color: #cb2929;
  font-size: 16px;
  text-align: center;
}

.titre-rubrique{
  text-transform: uppercase;
  color: #007a89;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.titre-rubrique.formation{
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #007a89;
}

.titre-rubrique.centrer{
  display:block;
  text-align: center;
}

.red-btn {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    background-color: #cb2929;
    color: white;
    padding: 9px 42px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.red-btn:hover{
  background-color: #007a89;
  text-decoration: none;
  color: white
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


.blue-btn {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    background-color: #007a89;
    color: white;
    padding: 9px 42px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

.blue-btn:hover{
  background-color: #cb2929;
  text-decoration: none;
  color: white
}

input:read-only, 
textarea:read-only,
[contenteditable]:read-only,
.disabled {
  cursor: not-allowed;
}


/*--------------------------------------------------*/
/*------------------- CUSTOM CSS -------------------*/
/*--------------------------------------------------*/

/*-------------------- CONTENT ---------------------*/

#content {
    margin-top: 140px;
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*-------------------- HEADER ----------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.search-bar{
  margin-top: 30px;
  margin-left: 20px;
}

.search-bar i{
  color: white;
  font-size: 20px;
}

.brand-bpce {
  position: absolute;
  top: 20px;
  right: 15px;
}

.bg-main-menu .navbar-brand {
  padding: 17px 0px 0px;
}

#menu-menu-principal {
  height: 80px;
}

.navbar-nav > li {
  float: left;
  padding: 0px 10px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  padding: 30px 15px;
}

.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-nav > li > a:active {
  background-color: #c20102;
  color: white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
  background-color: #c20102;
  color: white;
}

li.current-menu-ancestor a.dropdown-toggle {
  background-color: #c20102;
  color: white;
}

.navbar-default .navbar-nav > .active > a{
  background-color: #c20102;
  color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #c20102;
  color: white;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #B7D7DA;
  color: #007a89;
}

.menu-item img._before {
  margin-right: .5em;
  font-size: 20px;
  color: #007a89;
}

.dropdown-menu > li > a{
  text-transform: uppercase;
  font-weight: 600;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
.dropdown-menu > li > a:active {
  color: #c20102;
  background-color: transparent;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
  margin-left: 9px;
  padding-top: 0px;
}

/*------------------------------------------------*/

.navbar-default .navbar-nav > li .enfi-nav a,
.navbar-default .navbar-nav > li .gcf-nav a{
  background-color: #2f2f2f;
  font-size: 18px;
  color: white;
  cursor: default;
  padding: 20px;
}

/*---------------------------*/

.navbar-default .navbar-nav > li ul li::before {
  color: #007a89;
  margin-left: 20px;
  font-size: 20px;
  display: block;
  position: absolute;
  margin-top: 10px;
}

.navbar-default .navbar-nav > li ul li:hover::before {
  color: #c20102;
}

.navbar-default .navbar-nav > li ul li a{
  padding: 10px 50px;
  color: #007a89;
  font-size: 12px;
}

.navbar-default .navbar-nav > li ul li a:hover {
  color: #c20102;
}

.navbar-default .navbar-nav > li ul li.menu-item-object-custom a:hover{
  color: #fff;
}

/*---------------------------*/

.navbar-default .navbar-nav > li::after {
  content: ' ';
  color: white;
  float: right;
  margin: -45px -10px;
  border: 1px solid white;
  height: 10px;
}

/*.navbar-default .navbar-nav > li:last-child::after {
    display: none;
    border: none;
}*/

/*---------------------------*/

.navbar-default .navbar-nav > li a.icon-actualite::before {
  content: '\65';
}

.navbar-default .navbar-nav > li a.icon-ecole::before {
  content: '\67';
}

.navbar-default .navbar-nav > li a.icon-partenaire::before {
  content: '\69';
}

.navbar-default .navbar-nav > li a.icon-presse::before {
  content: '\6a';
}

.navbar-default .navbar-nav > li a.icon-mot::before {
  content: '\68';
}

.navbar-default .navbar-nav > li a.icon-bref::before {
  content: '\66';
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------------ HOME PAGE ---------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

/*------------- CARROUSEL --------------*/

.carousel.slick-slider {
    margin-bottom: 30px;
}

.carousel .slide {
  height: 440px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top center;
}

.carousel .slide .image img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

.content-slide-container{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  top: 0;
  height: 100%;
}

.content-slide{
  display: table-cell;
  vertical-align: middle;
  height: 440px;
  width: 1000px;
  padding: 20px;
}

.content-slide a{
  display: table;
  margin-top: 50px;
  color: white;
}

.title-carousel{
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 5px;
}

.title-carousel-2{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px
}

.content-slide-container p{
  font-size: 14px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-align: initial;
  margin-top: 50px;
}

.btn-slide{
  text-align: center;
  margin-top: 50px;
}
  
.slick-dots {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin: 0;
}

.carousel .slick-dots {
    position: absolute;
    bottom: 20px;
}

ul.slick-dots {
    bottom: 0;
}

.slick-dots li button:before {
    font-family: 'slick';
    content: '■';
    font-size: 30px;
    color: #bfbfbf;
    opacity: 1;
}

.slick-dots li button{
  height: 0;
  padding: 0;
}

.slick-slider  {
    margin-bottom: 0px; 
}

/*------------- LISTE FORMATION ENFI--------------*/

#liste-formation-home h1{
  text-align: center;
}

.liste-formation-home{
  text-align: center;
}

.liste-formation-home ul{
  padding: 0;
  margin: 0;
}

.liste-formation-home li{
  display: block;
  list-style: none;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 20%;
}

.liste-formation-home a{
  text-decoration: none;
  display: block;
}

.liste-formation-home h2{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  color: #2f2f2f;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  margin-top: 30px;
}

.liste-formation-home .icon-credit-immobilier:hover h2{
  color: #cb2929;
}

.liste-formation-home .icon-credit-immobilier img{
  background-color: #cb2929;
}

.liste-formation-home .icon-financement:hover h2{
  color: #f36051;
}

.liste-formation-home .icon-financement img{
  background-color: #f36051;
}

.liste-formation-home .icon-droit:hover h2{
  color: #38c0b3;
}

.liste-formation-home .icon-droit img{
  background-color: #38c0b3;
}

.liste-formation-home .icon-formation-dipl:hover h2{
  color: #007a89;
}

.liste-formation-home .icon-formation-dipl img{
  background-color: #007a89;
}

.liste-formation-home .icon-formations-regl:hover h2{
  color: #fa5974;
}

.liste-formation-home .icon-formations-regl img{
  background-color: #fa5974;
}


/*--------- CONTENT HOME PAGE ----------*/

/* ********* liste-formation-home ********* */


.bck-content{
  background-color: #eeeeee;
}

.bck-page{
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}
.bck-bottom{
  margin-bottom: 30px;
}

.bck-page.bck-top{
  margin-top: 0px;
}

.formation-enfi{
  position: relative;
  margin-bottom: 20px;
}

.formation-enfi img{
  max-width: 100%;
  position: relative;
}

.txt-img-formation{
  text-align: center;
  position: absolute;
  top: 45px;
  width: 100%;
  color: white;
  line-height: 40px;
}

.txt-facons{
  font-size: 20px;
  letter-spacing: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 0;
}

.txt-forme{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.formation-enfi-list{
  background-color: #e3e8ec;
  width: 100%;
  padding: 30px;
}

.formation-enfi-list h3{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #007a89;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  letter-spacing: 0.5px;
}

.picto-list{
  border: 1px solid #e3e8ec;
  padding: 10px 0px 20px 20px;
}

.link-formation-content span{
  color: #007a89;
}

.title-date,
.info-date{
  display: inline-block;
}

.lieu-catalogue span, 
.date-catalogue span{
  padding-top: 6px;
  margin-left: 10px;
}

.infos-formations-location{
  margin-left: 15px;
}

/*------ HOVER PICTO ------*/

.picto-liste-enfi{
  position: relative;
  margin-top: 20px;
}

a.link-formation h4 {
  color: #2f2f2f;
  transition: all 0.5s ease;
}

a.link-formation:hover h4,
a.link-formation:hover span {
    color: white;
}

.link-formation{
  text-decoration: none;
  color: #2f2f2f;
  display: block;
  width: 100%;
  position: relative;
}

.link-formation .link-formation-content {
  position: relative;
  z-index: 3;
}

.link-formation .hover-picto-formation{
  position: absolute;
  top: 0px;
  width: 50px; 
  height: 50px;
  -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
    z-index: 0;
}

.link-formation:hover .hover-picto-formation{
  width: 100%;
  height: 50px;
  -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;  
}

.link-formation.hover-e .hover-picto-formation {
  background-color: #952347;
}

.link-formation.hover-c .hover-picto-formation{
  background-color: #cc3d6b;
}

.link-formation.hover-inter  .hover-picto-formation{
  background-color: #007784;
}

.link-formation.hover-intra  .hover-picto-formation{
  background-color: #10a8b9;
}

/*--------------------------*/

.link-formation h4{
  margin-left: 15px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.link-formation img, 
.link-formation h4,
.link-formation span{
  display: inline-block;
}

.link-formation span{
  float: right;
  font-size: 20px;
  margin-top: 12px;
  margin-right: 10px;
}

.link-formation:first-child {
    margin-top: 0px;
}

a.link-formation {
    text-decoration: none;
}

/* ********* CARROUSEL PARTENAIRES ********* */

.confiance {
    margin-top: 20px;
}

.partenaires {
  margin-top: 50px; 
  margin-bottom: 35px;
}

.partenaires img.slick-slide {
  padding: 0px 20px;
}

.slick-dots{
  position: static;
}

/* -------- SIDEBAR -------- */

/* ******** ACTUALITES ******** */

input.form-control {
    padding-left: 15px;
}

#actualites{

}

.page-list h1{
  color: #fff !important;
}

.titre-actualites{
  margin-top: 20px;
  width: 100%;
  background-color: #007a89;
  color: white;
    font-size: 20px;
  text-align: center;
  padding: 12px 0px;
}

.titre-actualites h3{
  color : white;
}

i.fa.fa-newspaper-o, .titre-actualites h3 {
  display: inline-block;
}

.video-right img{
  margin-bottom: 20px;
  width: 100%;
}

.video-right a{
  text-decoration: none;
  color: #2f2f2f;
}

.titre-actu-p h2{
  font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    height: 30px;
    overflow: hidden;
    color: #000;
    font-size: 12px;
    line-height: 16px;
}

.titre-actu-p{
  font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    height: 30px;
    overflow: hidden;
    color: #000;
    line-height: 16px;
}

.sidebar-catalogue .red-btn {
  width: 100%;
}

.type-formation {
  margin-bottom: 20px;
}


/*------------- hover -------------*/

.hover-mask a {
    display: block;
    position: relative;
    overflow: hidden;
}

.hover-mask:hover .glyphicon-search {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
}

.hover-mask:hover a .glyphicon-search {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    font-size: 30px;
}

.hover-mask .glyphicon-search {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.hover-mask a .glyphicon-search {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 138px;
    width: 100%;
    padding: 18% 20px;
    text-align: center;
    background-color: rgba(0, 119, 132, 0.24);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 30px;
}

/*------------- ----- -------------*/

.date{
  color: #007a89;
  margin-top: 10px;
}

.date i, .date p, .date span{
  display: inline-block;
}

.date p{
  margin-top: 0px;
  font-weight: normal;
}

.date .icon-plus{
  float: right;
  margin-right: 15px;
  color: #2f2f2f;
  font-size: 15px;
}

.date .icon-plus:hover{
  color: #007a89;
}

/* ******** side-bar-home ******** */

.side-bar-home {
  text-align: center;
}

.side-bar-home h5{
  font-size: 19px;
  color: #007a89;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
}

.side-bar-home .red-btn{
  width: 180px;
  height: 34px;
  padding: 5px 0px;
  color: white;
}

.side-bar-home p {
  margin-top: 20px;
}

input#gform_submit_button_1:hover {
  background-color: #007a89;
}

#gform_1 {
  margin-bottom: -20px;
}

/*---- newsletter ----*/

form#gform_1 input {
  width: 100%;
}

input#gform_submit_button_1 {
  width: 100%;
  height: 34px;
  background-color: #cb2929;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*-------------------- FOOTER ----------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.footer{
  background-color: #2f2f2f;
  text-align: center;
  padding: 20px;
}

.footer ul{
  padding: 0;
  margin: 0;
}

.footer li{
  display: inline-block;
  color: white;
  padding: 0px 5px;
  letter-spacing: 0.5px;
  font-weight: lighter;
  font-size: 13px;
}

.btn-footer{
  background-image: none;
  background-color: transparent;
  letter-spacing: 0.5px;
  font-size: 12px;
  border: none;
  box-shadow: none;
}

.modale-footer{
  padding: 0px 15px;
  padding-bottom: 30px;
}

.modale-footer span{
  color: #007a89;
  font-weight: 600;
}

.modale-footer p{
  margin-top: 20px;
}

.mention-footer{
  text-align: center;
  color: #007a89;
  font-weight: 600;
}

.section-mention p{
  color: #007a89;
  font-weight: 600;
  font-size: 14px;
}

.section-mention-adresse {
  color: #007a89;
  font-weight: 600;
}

.footer-menu {float: left;}
.footer-social {
  color: #fff;
  font-size: 13px;
  float: right;
}

.footer-menu a{color: #fff;}
.footer-menu a:hover{text-decoration:none; color: #cb2929;}

.footer-social a {
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 5px;
}

.footer-social a i {
  margin-top: 3px;
}

.footer-social a:hover {
  color: #cb2929;
  text-decoration: none;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*---------------- PAGE ZOOM ACTU ------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

/* -------- HEADBAND -------- */

.headband{
  position: relative;
  background-repeat: no-repeat; 
  background-position: center;
  height: 190px;
}

.content-headband{
  background-color: rgba(0,119,132,1);
  color: white;
  height: 190px;
  text-align: center;
  display: table-cell;
  width: 750px;
  vertical-align: middle;

}

.content-headband i, 
.content-headband h2,
.content-headband h1{
  display: inline-block;
}

.content-headband img{
  margin-top: -30px;
  margin-right: 10px;
} 

.content-headband i,
.content-headband span{
  font-size: 47px;
}

.content-headband h2,
.content-headband h1{
  /*width: 160px;*/
  width: 60%;
  text-align: left;
  color: white;
}

.headband-formation img{
   width: 105px
}

.content-headband h1{
  text-transform: uppercase;
}

.content-headband h2{
  text-transform: none;
}


/* -------- SEARCH -------- */

.modale-footer form{
  text-align: center;
}
 


/* -------- FIL D'ARIANE -------- */

.fil-ariane {margin-bottom: 20px}

.fil-ariane a{
  display: inline-block;
  text-decoration: none;
  color: #a8b7b8;
}

.fil-ariane .active{
  color: #007a89;
}

/* -------- TITRE ACTU ENFI -------- */

.titre-enfi{
  margin-bottom: 20px;
}

.sous-titre-enfi{
  color: #007784;
  margin-bottom: 30px;
}

.img-enfi img{
  width: 100%;
}

/* -------- ACTU ZOOM -------- */

.section-page-enfi{
  margin-bottom: 30px;
  line-height: 22px;
}

.section-page-enfi span{
  color: #007784;
  font-weight: 600;
}

.section-page-enfi h3{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  color: #2f2f2f;
  line-height: 20px;
}

.section-page-enfi li{
    list-style-type: square;
}

.section-page-enfi h4{
    font-size: 14px;;
    color: #007a89;
    display: block;
}


.container-h5{
  width: 100%;
  display: block;
  text-align: center;
  z-index: 222;
  position: relative;
}

.section-page-enfi h5{
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  background-color: #fff;
  display: inline-block;
  font-weight: 700;
  color: #000;
  position: relative;
  z-index: 999;
  padding: 0 20px;
}  

.container-h5:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  top: 10px;
  z-index: 0;
}

.txt-page-enfi{
  color: #2f2f2f;
  text-align: justify;
}

.txt-page-enfi img{
  display: block; 
  margin: 0 auto;
}

.txt-page-enfi p img{
    display: block;
    margin: 0 auto;
    float: right;
    margin-left: 20px;
}

/* -------- REDACTEUR ZOOM -------- */

.redacteur-zoom{
  margin-top: 30px;
}

.redacteur-zoom img,
.redacteur-nom,
.redacteur-poste{
  display: inline-block;
}

.redacteur-nom{
  color: #007784;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20px;
}

.redacteur-poste{
  color: #2f2f2f;
  text-transform: uppercase;
  font-weight: 600;
}

.partage-actu-single{
  margin-top: 30px;
}

/* -------- IMG ZOMM -------- */

.partage-zoom .txt-partage{
  margin-top: 18px;
}

.partage-zoom .partage-formation{
  margin-top: 10px;
}

.partage-zoom .partage-formation a {
    padding: 0px 0px 0px 1px;
}

.partage-zoom {
    margin-top: 50px;
}



.partage-zoom .txt-partage,
.partage-zoom .partage-formation{
  display: inline-block;
}


/* -------- ACTU ZOMM -------- */

.actu-zoom-p{
  margin-top: 30px;
}

.actu-zoom-p h3{
  text-align: center;
}

.btn-voir-actu{
  text-align: center;
  margin-bottom: 8px;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------- PAGE CATALOGUE DES FORMATIONS ----------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.formation-catalogue{
  margin-left: -20px;
  margin-right: -20px;
}

.formation-catalogue li{
  list-style: none;
}

.formation-catalogue ul{
  margin: 0;
  padding: 0;
}

.bck-black{
  background-color: #2f2f2f;
  padding: 20px;
}

.formation-catalogue a{
  text-decoration: none;
  display: block;
  padding-top: 5px;
}

.fil-white .active{
  color: white;
}

.bck-black h2{
  color: #656565;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.bd-formation{
  height: 50px;
  width: 100%;
  padding-left: 15px;
}

.bd-formation:hover{
  background-color: #656565;
}
.bd-formation.active h4,
.bd-formation:hover h4{
  color: white;
}
.link-taxo .active{
  background-color: #656565;
}

.bd-formation .picto{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
}

.bd-formation .picto img {
  max-width: 100%;
}


.bd-formation h4{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 10px;
  margin-left: 7px;
  position: relative;
  letter-spacing: 0.5px;
  font-weight: normal;
  color: #b3b3b3;
  top: 15px;
}

.bd-formation img,
.bd-formation h4{
  display: inline;
}

.type-formation h4{
  font-size: 13px;
  color: white;
  letter-spacing: 0.5px;
}

.type-formation .checkbox label{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #b3b3b3;
  font-size: 12px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: inline;
}

.type-formation .checkbox input[type="checkbox"]{
    font-size: 15px;
}

.formation-distance-cat,
.formation-presentielles-cat{
  margin-top: 10px;
}

.formation-distance-cat .checkbox {
  display: inline-block;
}

.formation-checkbox {
  margin-bottom: 30px;
}

.radio, .checkbox{
  margin-bottom: 0px;
}


/*--------------*/

.bloc-catalogue-formation{
  margin-top: 40px;
}

.bloc-catalogue{
  background-color: white;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.bloc-catalogue .picto{
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  text-align: center;
}

.txt-bloc-catalogue {
  width: 230px;
  padding-left: 20px;
  height: 90px;
  float: left;
}


.picto {
  display: block;
  float: left;
}

.txt-bloc-catalogue p {
  line-height: 1em;
}


.txt-bloc-catalogue h4{
  color: #007784;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0;
  padding: 10px 0px 10px;
  min-height: 56px;
}

.txt-bloc-catalogue h5{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #cb2929;
  font-size: 10px;
  margin: 3px 0 10px;
}

#pagination {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.page-numbers {
  display: inline-block;
  color: #007784;
}

.page-numbers.current {
  color: #c20102;
}

.prev.page-numbers {
  position: absolute;
  left: 200px;
  bottom: 0px;
}

.next.page-numbers {
  position: absolute;
  right: 200px;
  bottom: 0px;
}
/*--------------*/

.content-bloc-catalogue{
  padding: 20px;
}

.content-bloc-catalogue p{
  text-align: justify;
}

.categorie-catalogue{
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 10px;
  min-height: 50px;
}
.categorie-catalogue .picto {
  width: 30px;
  height: 30px;
}

.categorie-catalogue img,
.categorie-catalogue p{
  display: inline-block;
}

.categorie-catalogue img {
  margin: 0;
}


.categorie-catalogue .category-terms {
  font-size: 10px;
  color: #201a19;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 7px; 
}

/*--------------*/

.date-catalogue{
}

.lieu-catalogue i,
.date-catalogue i{
  color: #c71516;
  font-size: 13px;
}

.content-bloc-catalogue .lieu-catalogue p,
.content-bloc-catalogue .date-catalogue p{
  color: #007a89;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 5px;
}

.lieu-catalogue span,
.date-catalogue span{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #2f2f2f;
  font-size: 13px;
}

.lieu-catalogue i, 
.lieu-catalogue p,
.lieu-catalogue span,
.lieu-catalogue,
.date-catalogue,
.date-catalogue i, 
.date-catalogue p,
.date-catalogue span{
  display: inline-block;
}

.ico{
  display: block;
    padding-top: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    background-color: #cb2929;
    float: left;
}

.description-catalogue{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #2f2f2f;
  height: 70px;
  overflow: hidden;
}

.btn-savoir-plus {
  text-align: center;
  margin-top: 30px;
}

.btn-savoir-plus a{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #b3b3b3;
  padding: 10px 60px;
  letter-spacing: 0.5px;
}

.btn-savoir-plus:hover a{
  background-color: #007a89;
}

/*-----------*/

.next{
  text-align: center;
}

.next ul{
  padding: 0; 
  margin: 0;
}

.next li{
  padding: 0; 
  margin: 0;
  display: inline-block;
  list-style: none;
}

.next a{
  text-decoration: none;
  font-weight: 600;
  color: #2f2f2f;
}

.next a:hover{
  color: #007a89;
}

.next .active a{
  color: #007a89;
  font-weight: bold;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*---------------- PAGE ACTUALITES -----------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.bck-page-actu{
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}

.zone-actus {
  margin-top: 30px;
}

.article-actu img{
  margin-bottom: 10px;
}

.description-actu p{
  font-weight: normal;
  text-transform: inherit;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
  height: 60px;
  overflow: hidden;
  line-height: 20px;
}

.actualites strong{
  text-transform: uppercase;
  font-size: 20px;
    width: 160px;
    margin-left: 10px;
    text-align: left;
    color: white;
    display: inline-block;
    font-weight: 600;
    line-height: 30px;
}

.description-actu .icon-plus{
  float: right;
  margin-right: 15px;
  color: #2f2f2f;
  font-size: 15px;
}

.description-actu .icon-plus:hover{
  color: #007a89;
}

.article-actu-bloc{
  margin-top: 50px
}

.next-actu{
  margin-bottom: 30px;
}


/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*---------------- PAGE FORMATIONS -----------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/


/*------ HEADBAND------*/

.content-headband.headband-formation{
  background-color: #cb2929;
}

.headband-formation span,
.headband-formation h1{
  display: inline-block;
}

.headband-formation span{
  position: absolute;
} 

.headband-formation h1{
  width: auto;
    margin-left: 60px;
    margin-top: 25px;
}

/*------ PRET A TAUX ZEROS------*/

.title h1{
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 22px;
}

.title p{
  color: #2f2f2f;
  font-size: 13px;
  line-height: 22px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.btn-contact {
    margin-top: 0px;
}

.content-contact{
  width: 205px;
  float: right;
  background-color: #cb2929;
  height: 35px;
  cursor : pointer;
  padding-top: 5px;
  text-align: center;
}

.content-contact:hover{
  background-color: #007a89;
}



.btn-contact i,
.btn-contact p{
  display: inline-block;
}

.btn-contact i{
  font-size: 14px;
  color: white;
}

.btn-contact p{
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.pret-formation {
  margin-bottom: 30px;
}

/*------ PAROLE D'EXPERT ------*/

.bloc-infos-formation{
  margin-bottom: 30px;
}

.parole-expert img{
  margin-top: 0px;
  width: 100%;
}

.content-formations p{
  font-size: 13px;
    line-height: 22px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-align: justify;
}

.who{
  font-size: 12px;
  color: #000000;
  padding-top: 20px;
}

.name{
  font-weight: bold;
}

.job{
  color: #007a89;
}

.who p,
.who span{
  display: inline-block;
}

/*------ LE PROGRAMME EN IMAGES ------*/

.programme-img-formation img{
  margin-top: 0px;
}

/*------ INFO FORMATIONS -------*/

.lieu-formation p,
.date-formation p,
.tarif-formation p{
  color: #007a89;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 5px;
}

.lieu-formation,
.date-formation,
.tarif-formation {
    margin-bottom: 5px;
}
 
.lieu-formation i,
.date-formation i,
.tarif-formation i{
  color: #c71516;
    font-size: 14px;
}

.lieu-formation i,
.lieu-formation p{
  display: inline-block;
}

.date-formation i,
.date-formation p{
  display: inline-block;
}

.tarif-formation i,
.tarif-formation p{
  display: inline-block;
}

.lieu-formation span,
.date-formation span,
.tarif-formation span{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #2f2f2f;
    font-size: 13px;
    margin-left: 20px;
}

/*------ BTN FILES -------*/

.btn-file{
  margin-top: 5px;
}

.btn-file button.content-file {
  width: 100%;
  height: 30px;
  outline: none;
  padding-top: 5px;
  margin-top: -5px;
}

.btn-file button, 
.btn-file input[type="button"], 
.btn-file input[type="reset"], 
.btn-file input[type="submit"] {
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 0px;
  background: none;
  box-shadow: none;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  margin-left: 0px;
  letter-spacing: 0.5px;
  font-weight: 700;
  line-height: 1;
  text-shadow: none;
  padding-top: 0px;
}

.btn-file button:hover, 
.btn-file input[type="button"]:hover, 
.btn-file input[type="reset"]:hover, 
.btn-file input[type="submit"]:hover {
  border-color: none;
  box-shadow:  none;
}

.btn-file{
  width: 100%;
  background-color: #cb2929;
  height: 35px;
  cursor : pointer;
  padding-top: 5px;
    text-align: center;
}

.btn-file:hover{
  background-color: #007a89;
}

.btn-file a{
  text-decoration: none;
}

.btn-file i,
.btn-file p{
  display: inline-block;
}

.btn-file i{
  font-size: 14px;
  color: white;
}

.btn-file span{
  font-size: 14px;
  color: white;
} 

.btn-file p{
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

/*----------- TABS ----------*/

.tabs-formation .nav-tabs{
  margin-bottom: 30px;
}

.nav-tabs {
    border-bottom: none;
  padding: 0;
    margin: 0;
}

.nav-tabs > li {
    display: inline-block;
    padding: 0;
    padding-right: 5px;
    position: relative;
}

.nav-tabs > li:last-child {
    padding-right: 0px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: white;
    cursor: default;
    background-color: #cb2929;
    border: none;
    border-bottom-color: transparent;
    border-radius: 0px;
    height: 60px;
    width: 100%;
}

.nav-tabs > li > a{
    color: #007a89;
    cursor: pointer;
    background-color: #eeeeee;
    border: none;
    border-bottom-color: transparent;
    border-radius: 0px;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

.nav > li > a:hover, 
.nav > li > a:focus {
  color: white;
    background-color: #cb2929;
}


/*-------- TRIANGLE TABS -------- */

.nav-tabs li a:after{
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -20px
}

.nav-tabs li.active a:after, 
.nav-tabs li:hover a:after, 
.nav-tabs li a:after:focus {
  width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #cb2929 transparent transparent transparent;
}

.nav-tabs  a:after {
  border: none;
}


/*-------- PROGRAMME -------- */


.programme-list h4{
  font-size: 14px;
  margin-bottom: 40px;
}

.programme-list li{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 13px;
    line-height: 22px;
}

.programme-list ul {
    margin-bottom: 50px;
    margin-left: 0px;
}

.programme-list h3 {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding-bottom: 15px;
    font-size: 15px;
  color: #007a89;
  margin: 0;
  font-weight: 400;
  text-transform: none;
}

/*///////// OBJECTIF PEDAGOGIQUE /////////*/

.pedagogique{
  margin-bottom: 30px;
}

.liste-formation-home-page{
  margin-bottom: 30px;
}

.obj-ped i {
    color: white;
    font-size: 25px;
}

.obj-ped h6{
  color: white;
  font-size: 16px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  letter-spacing: 0.5px;
  line-height: 25px;
  margin-top: 5px;
  font-weight: normal;
  text-transform: uppercase;
}

.bg-grey {
  background-color: #eeeeee;
  border: 1px solid #e3e8ec;
}

.obj-ped{
  text-align: center;
  position: relative;
  display: table-cell;
  width: 400px;
  height: 150px;
  vertical-align: middle;
  background-color: #007989;
  padding: 0px 20px;
}

.tri-obj{
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #007989;
  z-index: 9;
}

.content-objectifs {
  padding: 0px 40px;
  display: table-cell;
  height: 150px;
  vertical-align: middle;
}

.content-objectifs li{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 13px;
    line-height: 25px;
}

/*/////// METHODES PEDAGOGIQUE ///////*/


.tri-meth{
  border-color: transparent transparent transparent #2f2f2f;
}

.meth-ped{
  background-color: #2f2f2f;
}

/* //////// PARTAGER CETTE FORMATIONS ////////*/

.txt-partage-1{
  font-size: 14px;
  margin-top: 5px;
}

.txt-partage-2{
  font-size: 14px;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  float: right;
}

.partage-formation a {
    padding: 0px 0px 0px 15px;
}

.partage-formation{
  float: right;
}

/* ///////////// PARTAGER CETTE ACTU /////////////*/

.txt-partage-3{
  float: right;
}

.partage-actu{
  float: left;
}

/*////////// SUGESTIONS DE FORMATIONS /////////////*/

.sug-form {
  padding: 20px;
}

.sug-form .txt-bloc-catalogue h5 {
  padding-top: 0px;
}

.sug-form h2{
  margin-top: 15px;
}

/*-------- INFOS -------- */

.infos-form {
  text-align: center;
  margin-bottom: 50px;
}

.infos-form h2{
  color: #007a89;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.infos-form i{
  color: #007a89;
  font-size: 20px;
}

.infos-form:hover i,
.infos-form:hover h2{
  color: #cb2929;
}

.infos-form p{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  text-align: inherit;
}

.infos-form ul li{
  margin-top: 30px;
  text-align: initial;
  font-size: 14px;
  margin: 10px 0px;
}

.infos-form ul {
  margin-top: 30px;
}

.operation-form{
  margin-top: 20px;
}

/*-------- DATES -------- */

.container-date{
  height: 180px;
  border: 1px solid #e3e8ec;
  border-top: 5px solid #007a89;
  text-align: center;
  margin-bottom: 30px;
}

.container-date i{
  font-size: 20px;
  color: #cb2929;
}

.container-date p{
  font-size: 18px;
  color: #007a89;
  font-weight: 600;
}

.container-date i,
.container-date p{
  display: inline-block;
}

.date-form{
  display: inline-block;
  text-align: center;
  padding: 0px 15px;
  margin-top: 20px;
}

.btn-file.btn-date-p {
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding-top: 7px;
}

.btn-date-p a{
  font-size: 12px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 600;
}

/*-------------------------*/
/*-------- MODAL ----------*/
/*-------------------------*/

/*--- header ---*/

.modal-header {
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top: 12px solid#cb2929;
    text-align: center;
}

.modal-header img {
    max-width: 100%;
}

.modal-header h4 {
  color: #2f2f2f;
  font-size: 14px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}

.modal-header h5 {
  color: #cb2929;
  font-size: 12px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/*--- formation-modale ---*/

.modal-body {
    padding: 0px;
}

.modal-body p {
    color: #007a89;
  font-size: 18px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.formation-modale {
    background-color: #e3e8ec;
    padding: 15px 100px;
}

.modal-body label{
  font-weight: 100;
  color: #4a4a4a;
  font-size: 12px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.modal-body input,
.modal-body textarea {
  width: 100%;
  height: 33px;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 0px;
  font-size: 12px;
}
#input_4_16 {margin-top: 16px}

.modal-body select.form-control {
    border-radius: 0px;
    border: 1px solid #e6e6e6;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.modal-body textarea {
  margin-top: 23px;
  height: 100px;
}

.modal-body input:placeholder-shown {
  font-weight: 600;
}

.modal-body textarea:placeholder-shown {
  font-weight: 600;
}

.modal-body ::-webkit-input-placeholder { 
  color: #323232;
}

.modal-body ::-moz-placeholder { 
  color: #323232;
}

.modal-body :-ms-input-placeholder { 
  color: #323232;
}

.modal-body :-moz-placeholder { 
  color: #323232;
}

.form-formation{
  margin-top: 23px;
}


.info-form-2 label{
  text-align: center;
  color: black;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
}

.info-form-2 i{
  margin-right: 5px;
}

.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]+label {
  margin: 0px;
  display: inline-block;
  margin-right: 15px;
}
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]+label:before {
  content:"";
  display: inline-block;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #8e8e8e;
  float: left;
  margin-top: 5px;
}
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label:before {
  content: "";
}

/*------------------*/

.gform_wrapper .hidden_label input.large, 
.gform_wrapper .hidden_label select.large, 
.gform_wrapper .top_label input.large, 
.gform_wrapper .top_label select.large {
  width: 100%;
  padding-left: 5px;
}

.gform_wrapper .top_label input.small, 
.gform_wrapper .top_label select.small {
  width: 100%;
}

.gform_wrapper .top_label input.medium, 
.gform_wrapper .top_label select.medium {
  padding-left: 5px;
  width: 100%;
}

/*-------------------*/

div#gform_wrapper_5 {
  max-width: 100%;
}

form#gform_5 input{
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
}

form#gform_5 input{
  float: left;
  width: 50%;
  margin-bottom: 20px;
  font-size: 12px;
}

form#gform_5 input#gform_submit_button_4 {
  background-color: #cb2929;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 180px;
  height: 50px;
}

form#gform_5 input#gform_submit_button_4:hover {
  background-color: #007a89;
}

#gform_wrapper_4, #gform_wrapper_7 {
  max-width: 100%!important;
}

form#gform_4 input, form#gform_7 input{
  width: 100%!important;
  margin-bottom: 20px;
  font-size: 12px;
}

#input_4_1 {
  color: #cb2929;
  font-weight: 700;
}

#gform_wrapper_7 .gfield_label{
  display: none;
}

#gform_wrapper_7 input[type="text"], #gform_wrapper_7 textarea {
  padding-left: 5px;
}

#input_7_38 {margin-top: 0px;}
#input_7_16 {margin-top: 15px;}

li.gchoice_4_30_0,
li.gchoice_4_30_1,
li.gchoice_4_30_2,
li.gchoice_4_20_0,
li.gchoice_4_20_1,
li.gchoice_7_30_0,
li.gchoice_7_30_1,
li.gchoice_7_30_2,
li.gchoice_7_20_0,
li.gchoice_7_20_1 {
  display: inline-block;
}

#input_7_30 {padding-left: 0px;}

#field_6_25, #field_6_26, #field_6_27 {
  color: #007a89;
  font-size: 18px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
  font-weight: 400!important;
  color: #007A88
}

.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]:checked+label:before {
  border: 1px solid #007A88;
  background-color: #007A88;
}

form#gform_4 input#gform_submit_button_4, form#gform_7 input#gform_submit_button_7 {
  background-color: #cb2929;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 180px!important;
  height: 50px;
}

form#gform_4 input#gform_submit_button_4:hover, form#gform_7 input#gform_submit_button_7:hover {
  background-color: #007a89;
}

.demande-modale {
  margin-top: 15px;
}

.gform_wrapper .top_label .demande-modale .radio .gfield_label {
  display: block!important;
  margin-left: 0px!important;
  padding-left: 0px!important;
  font-weight: 400;
}

.gform_wrapper .top_label .demande-modale .radio {
  margin-top: 0px;
}

.gform_footer.top_label {
  text-align: center;
}

#input_4_38 {
  width: 100%!important;
  margin-top: 0px;
  padding-left: 5px;
}

#gform_confirmation_message_7{
  text-align: center;
  margin-bottom: 30px;
}

/*--- contact-modale ---*/

.contact-modale {
    background-color: white;
    padding: 15px 100px;
}

.contact-modale .radio input[type="radio"], 
.contact-modale .radio-inline input[type="radio"], 
.contact-modale .checkbox input[type="checkbox"], 
.contact-modale .checkbox-inline input[type="checkbox"] {
    margin-top: -7px;
    margin-left: -30px;
}

.contact-modale .radio label, 
.contact-modale .checkbox label {
    margin-left: 20px;
}

.contact-modale .radio label:first-child, 
.contact-modale .checkbox label:first-child {
    margin-left: 8px;
}

.contact-modale .radio{
  margin-top: 20px;
  margin-bottom: 0px;
}

.col-2-form-formation{
  margin-top: 40px;
}

.info-sup-modale{
  margin-top: 20px;
  font-size: 12px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.infos-enfi-modale{
  padding: 0px;
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  color: #006479;
  line-height: 25px;
  margin-bottom: 30px;
}

.infos-enfi-modale .red-btn{
  margin-top: 30px;
  width: 180px;
  display: block;
}

.modal-dialog {
  margin-top: 80px;
}

.modal-body .image {
  text-align: center;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------------ PAGE ECOLE --------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.liste-ecole a {
  text-decoration: none;
}

.liste-ecole ul{
  padding: 0;
}

.liste-ecole li{
  list-style: none;
  margin-bottom: 10px;
}

.liste-ecole img,
.liste-ecole h4{
  display: inline-block;
}

.liste-ecole h4{
  color: #007a89;
  margin-left: 10px;
}

.liste-ecole img{
  width: 5%;
}

.sous-titre-ecole{
  margin-top: 10px;
}

/*---------- ECOLE EQUIPE -----------*/

.ecole-equipe{
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 12px;
}

.ecole-equipe th{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.ecole-mail{
  font-weight: 600;
  color: #007784;
}

.ecole-equipe td, 
.ecole-equipe th {
    padding: 12px;
}

.ecole-equipe tr{
    height: 35px;
}

.equipe-numero{
  margin-top: 15px;
}

.numero-tel{
  background-color: #cb2929;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 70px;
  vertical-align: middle;
  display: table-cell;
  width: 1200px;
}

.numero-tel i,
.numero-tel p{
  display: inline-block;
  margin-bottom: 0px;
}

.numero-tel i{
  margin-right: 15px;
}

.btn-ecole {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.btn-ecole .red-btn{
  margin-top: 30px;
  padding: 9px 115px;
  color: white;
}


/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------------ INSCRPTION --------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.txt-page-enfi a{
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.cercle-inscription {
    border: 1px solid #007784;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.cercle-inscription i {
  font-size: 20px;
    color: #007784;
    margin-top: 25px;
}

.numero-inscription{
  font-size: 18px;
  color: #007784;
  font-weight: 600;
  margin-left: 10px;
}

.numero-inscription a {
  color:#007784;
}

.modal-icon-round {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -34px;
  top: -34px;
  background-color: #cb2929;
}

.cercle-inscription,
.numero-inscription{
  display: inline-block;
}

.picto-inscription{
  margin-top: 50px;
}

.btn-inscription{
  text-align: center;
  margin-bottom: 30px;
}

.btn-inscription .red-btn {
    margin-top: 30px;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*----------------- COMPTE PERSO -------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.page-compte-perso h3{
  font-size: 14px;
  margin-bottom: 20px;
}

.page-compte-perso a{
  text-decoration: none;
  color: #007784;
  font-weight: inherit;
}

.section-page-enfi li {
    margin-top: 10px;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------------ FINANCEMENT -------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.page-financement{
  margin-top: 20px;
}

.page-financement a{
  text-decoration: underline;
  color: #007784;
  text-decoration: none;
}

.page-financement ul{
  margin-top: 20px;
  line-height: 25px;
}

.list-opca{
  margin-top: 30px;
}

.list-opca a{
  display: block;
  float: left;
  width: 16%;
}

/*-------------------------*/

.section-financement {
  width: 20%;
  text-align: center;
  float: left;
}

.cercle-financement{
  border: 1px solid #007784;
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 18px;
  font-weight: 600;
  color: #007784;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-financement p{
  margin-top: 20px;
}

.ligne-financement{
  border-top: 1px solid #007784;
  width: 940px;
    margin: 0 auto;
    margin-top: 70px;
}

.timeline{
  margin-top: -35px;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------------ CF EN BREF --------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.page-cf{
  text-align: center;
}

.img-enfi iframe{
  width: 100%;
}

.btn-cf {
  margin-top: 30px;
}

.btn-cf a{
  text-decoration: none;
  color: white;
}

.icon-cf {
  text-align: center;
  display: block;
  float: left;
  width: 50%;
  margin-top: 40px;
}

.icon-cf span{
  font-size: 20px;
  color: #007a89;
  display: block;
  margin-top: 20px;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------- PREPARER SA VENUE ----------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/





/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------------ PARTENAIRES -------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.page-partenaires {
  margin-bottom: 50px;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*------------- PRESSE DOCUMENTATION ---------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/

.gform_wrapper .top_label .gfield_label {
    display: none !important;
}

.gform_wrapper h3.gform_title {
    letter-spacing: normal!important;
    margin: .625em 0 .375em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.btn-download-presse{
  margin-top: 10px; 
}

.btn-download-presse a {
    color: white;
}

.btn-download-presse .red-btn{
  padding: 4px 13px;
    font-size: 10px;
}

.page-presse h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.container-icon-presse{
  background-color: #007784;
  width: 45px;
  height: 45px;
  text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.titre-presse h3{
  font-size: 14px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.container-icon-presse,
.titre-presse{
  display: inline-block;
}



#gform_6 {
  margin: 0px 100px!important;
}
#gform_6 input[type="radio"]{
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   border: none;
   height: auto;
}

.gform_wrapper {max-width: 100%;}
#gform_wrapper_6 {
  max-width: 100%!important;
}

.gchoice_6_30_0, .gchoice_6_30_1, .gchoice_6_30_2, .gchoice_6_20_0, .gchoice_6_20_1 {
  display: inline-block;
}

.gform_wrapper .top_label input.medium {
  width: 100%!important;
}

#gform_submit_button_6 {
  background-color: #cb2929;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 180px;
  height: 50px;
}
.gform_wrapper .top_label .formation-modale .gfield_label {
  display: block!important;
}
.gfield_label[for="input_4_1"]{
  height: 15px;
}

/*------------------------------------*/

.page-presse a{
  text-decoration: none;
}

.page-presse:hover a{
  color: white;
}

.section-download-presse{
  background-color: #eeeeee;
  padding: 10px 60px;
  margin-bottom: 20px;
  color: #2f2f2f;
}

.section-download-presse:hover{
  background-color: #2f2f2f;
  color: white;
}

.section-download-presse p{
  padding-left: 30px;
  margin-top: 10px;
}

.section-download-presse i{
  float: left;
  margin-top: 17px;
}

.section-presse-doc{
  margin-bottom: 30px;
}

#gform_wrapper_7 #gfield_label {
  display: none!important;
}

/*---------------- DEVIS SUR MESURE ----------------*/

.modale-devis{
  padding: 15px 100px;
}

li#field_8_29,
li#field_8_25,
li#field_8_26{
  color: #007a89;
  font-size: 18px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

li#field_8_1 {
  display: inline-block;
}

input#input_8_1 {
  width: 500px;
  display: inline-block;
  float: left;
}

li#field_8_2 {
  display: inline-block;
  float: right;
  margin-top: 23px;
}

input#input_8_2 {
  display: inline-block;
  width: 100%;
  float: right;
}

li#field_8_25{
  margin-top: 30px;
}

li.gchoice_8_30_1,
li.gchoice_8_30_0,
li.gchoice_8_20_1,
li.gchoice_8_20_0 {
  display: inline-block;
}

label#label_8_30_0,
label#label_8_30_1,
label#label_8_20_0,
label#label_8_20_1 {
  margin-top: 11px;
  margin-left: -11px;
}

li#field_8_7,
li#field_8_8,
li#field_8_9,
li#field_8_22,
li#field_8_14,
li#field_8_17,
li#field_8_19,
li#field_8_16,
li#field_8_15,
li#field_8_13,
li#field_8_11,
li#field_8_23{
  width: 50%;
  display: inline-block;
}

li#field_8_7,
li#field_8_9,
li#field_8_14,
li#field_8_19,
li#field_8_16,
li#field_8_13,
li#field_8_23{
  padding-right: 5px;
}

li#field_8_8,
li#field_8_22,
li#field_8_17,
li#field_8_15,
li#field_8_11{
  padding-left: 5px;
}

#input_8_38 {
  width: 100%;
}

li#field_8_16,
li#field_8_15,
li#field_8_13,
li#field_8_11,
li#field_8_23{
  width: 50%;
  display: inline-block;
}

.gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type=image], 
.gform_wrapper .gform_footer input[type=submit]{

  background-color: #cb2929;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 180px!important;
  height: 50px;
}



/*--------------------------------------------------*/
/*------------------- RESPONSIVE -------------------*/
/*--------------------------------------------------*/

/* -------- 1200 --------*/

@media (max-width: 1200px){

  .btn-side-bar-home {
    font-size: 10px;
  }

  .txt-img-formation {
    top: 20px;
  }

  .footer li {
    line-height: 30px;
  }
  .content-bloc-catalogue {
    padding-top: 0px;
  }
  .bloc-catalogue img, 
  .txt-bloc-catalogue {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  .txt-bloc-catalogue {
    width: 100% ;
    text-align: center;
    margin-left: 0px;
    min-height: 60px;
    padding-right: 20px;
  }

  .bloc-catalogue .picto {
    margin: 0px auto;
    float: none;
  }

  .categorie-catalogue .category-terms {
    font-size: 8px; margin-right: 4px;
  }
  .categorie-catalogue p,
  .categorie-catalogue img{
    display: inline-block;
  } 
  .content-bloc-catalogue .lieu-catalogue p, .content-bloc-catalogue .date-catalogue p,  {
    font-size: 11px;
  }

  .lieu-catalogue span, .date-catalogue span {
    font-size: 11px;
    max-height: 22px;
    overflow: hidden;
  }
  .content-contact{
    width: 156px;
  }

  .partage-formation {
    float: initial;
  }

  .titre-form-page{
    margin-bottom: 60px;
  }

  .liste-objectifs ul {
    min-height: auto;
  }

  .formation-enfi-list {
    padding: 40px;
  }

  .bloc-catalogue {

  }

  .hover-mask a .glyphicon-search {
    height: 109px;
  }

  .bd-formation {
    height: 40px;
    width: 100%;
    padding-right: 45px;
    margin-bottom: 10px;
  }

  .bd-formation h4 {
    font-size: 10px;
    margin-left: 20px;
    text-align: left;
    float: right;
    width: 170px;
    margin-top: -50px;
    line-height: 15px;
  }

  .bd-formation .picto {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 0px;
  }

  .lieu-formation p, 
  .date-formation p, 
  .tarif-formation p {
    font-size: 13px;
  }

  .lieu-formation span, 
  .date-formation span, 
  .tarif-formation span {
    font-size: 11px;
    margin-left: 10px;
  }

  .txt-partage {
    font-size: 11px;
  }

  .partage-formation a {
    padding: 0px 0px 0px 5px;
  }

  .carrousel-partenaires .slick-dots {
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .lieu-catalogue span, 
  .date-catalogue span {
    margin-left: 5px;
  }

  .partage-zoom .txt-partage, 
  .partage-zoom .partage-formation {
    display: block;
    text-align: center;
  }

  .navbar-nav > li {
    padding: 0px 0px;
  }

  .navbar-default .navbar-nav > li::after {
    margin: -30px -3px;
  }


  .navbar-default .navbar-nav > li > a {
    font-size: 11px;
  }

  .navbar-right .dropdown-menu {
    margin-left: 0px; 
  }


  .list-opca a {
    width: 33%;
  }

  .ligne-financement{
    width: 780px;
  }

  .ecole-equipe td, .ecole-equipe th {
    font-size: 10px;
  }

  .footer-menu, .footer-social {
    float: none;
    text-align: center;
  }

  .navbar-default .navbar-nav > li::after {
    margin: -44px -3px;
  }

  .gform_wrapper ul li.gfield {
    clear: both;
    margin-bottom: 11px;
  }

  .link-formation h4 {
    margin-left: 5px;
  }

}

/* -------- 992 --------*/

@media (max-width: 992px){

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
    margin: 0px 15px;
  }

  .navbar-header {
    float:none;
  }

  #menu-menu-principal {
    background-color: white;
    height: auto;
    margin: 0px 15px;
    border: 1px solid #bdbcbc;
  }

  #main-menu-enfi {
    position: absolute;
    background-color: transparent;
    margin: 60px -15px;
    width: 100%;
  }

  .navbar-default .navbar-nav > li::after {
    display: none;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    color: #007a89;
    margin: 0px;
    position: relative;
    display: block;
    padding: 9px 15px;      
  }

  .navbar-right {
    width: auto;
    margin-right: -15px;
    float: none!important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-default .navbar-nav > li .enfi-nav a, 
  .navbar-default .navbar-nav > li .gcf-nav a {
    display: none;
  }

  .navbar-default .navbar-nav > li ul li {
    padding: 0px 0px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding-left: 50px;
    color: #007a89;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li:hover a {
    color: #c20102;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #B7D7DA;
    color: #007a89;
  }

  .navbar-default .navbar-nav > li ul li::before {
    margin-top: 10px;
  }  

  .bg-main-menu .container {
    position: relative;
  }

  .navbar-toggle {
    background-color: white;
    margin-top: 24px;
  }

  .navbar-header {
    height: 80px;
  }

  .search-bar {
    position: absolute;
    top: 30px;
    margin: 0px;
    right: 90px;
  }

  #content {
    margin-top: 175px;
  }

  .btn-slide {
    margin-top: 10px;
  }

  .contact-header {
    height: 110px;
  }

  .txt-img-formation {
    top: 35px;
  }

  .next {
    margin-bottom: 30px;
  }

  .btn-contact {
    margin-top: 30px;
  }

  .bloc-catalogue-formation {
    margin-top: 30px;
  }

  .type-formation .checkbox label {
    margin-right: 30px;
  }

  .content-contact {
    float: inherit;
    margin-right: auto;
    margin-left: auto;
  }

  .parole-expert img {
    width: 100%;
  }

  .prochaine-session {
    margin-top: 30px;
  }

  .txt-partage {
    margin-top: 30px;
  }

  .liste-formation-home h2 {
    padding: 10px;
  }

  .nav-tabs > li:last-child {
    padding-right: 5px; 
  }

  .infos-form {
    margin-bottom: 0px; 
    background-color: #EEEEEE;
    padding: 20px 0px;
  }

  .article-actu img {
    width: 100%;
  }

  .hover-mask a .glyphicon-search {
    height: 293px;
  }

  .liste-formation-home li {
    display: inline-block;
    list-style: none;
    float: none;
    width: 35%;
  }

  .video-right img {
    width: 100%;
  }

  .content-contact{
    width: 320px;
  }

  .tri-obj {
    display: none;
  }

  .nav-tabs > li {
    padding-right: 0px;
  }

  .nav-tabs > li:last-child {
    padding-right: 0px;
  }

  .code-modale{
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  .info-form-2 label {
    margin-top: 30px;
  }

  .info-form-2 {
    margin-top: 0px; 
  }

  .societe-modale{
    margin-top: 30px;
  }

  .col-2-form-formation {
    margin-top: 0px;
  }

  .formation-modale, 
  .contact-modale, 
  .infos-enfi-modale {
    padding: 15px 20px;
  }

  .infos-enfi-modale {
    text-align: -webkit-auto;
  }

  .infos-enfi-modale .red-btn {
    display: block;
  }

  .carrousel-partenaires h3,
  .newsletter-home h3,
  .contact-home h3{
    text-align: center;
  }

  .content-headband {
    margin-top: 190px;
    background-color: rgba(0,119,132,0.7);
  }

  .headband {
    background-position: top center;
    height: auto;
    background-color: #eeeeee;
  }

  .img-enfi {
    text-align: center;
    margin-top: 25px;
  }

  .partage-zoom .txt-partage, 
  .partage-zoom .partage-formation {
    display: inline-block;
    text-align: inherit;
  }

  .partage-zoom {
    text-align: center;
  }

  .redacteur-zoom {
    text-align: center;
  }

  .btn-voir-actu {
    margin-top: 165px;
  }

  .bck-page-actu .hover-mask a .glyphicon-search {
    height: 131px;
  }

  .liste-ecole {
    margin-top: 30px;
  }

  .contact-header {
    height: auto;
  }

  .cercle-inscription {
    margin-top: 20px;
  }

  .first-cercle {
    margin-top: 0px;
  }

  .picto-inscription {
    margin-top: 20px;
  }

  .warning-inscription {
    margin-top: 60px;
  }

  .section-financement {
    width: 100%;
    margin-top: 20px;
  }

  .ligne-financement {
    display: none;
  }

  .section-financement p {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .ecole-equipe td, .ecole-equipe th {
    font-size: 12px;
  }

  .partage-actu {
    margin-top: 0px;
  }

  .footer-social {
    margin-top: 10px;
  }

  .section-page-enfi h3{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
  }

  .section-page-enfi ul {
    padding-left: 10px;
  }

  .bd-formation h4 {
    margin-top: -9px;
    margin-left: 0;
    width: 80%;
  }

  .bd-formation {
    margin-left: 0px;
    padding-left: 15px;
  }

  .bd-formation .picto {
    margin-left: 0px;
  }

  .prev.page-numbers {
    position: initial;
    padding-right: 20px;
  }

  .next.page-numbers {
    position: initial;
    bottom: 0px;
    margin-left: 20Px;
  }

  .obj-ped {
    width: 999px;
  }

  .txt-partage-2 {
    float: inherit;
  }

  .partage-formation {
    margin-left: -4px;
    margin-top: 5px;
  }

  .container-date {
    height: auto;
    padding-bottom: 20px;
  }

  .timeline {
    margin-top: 20px;
  }





}

/* -------- 768 --------*/

@media (max-width: 768px){

  #menu-menu-principal {
    margin-top: 30px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #B7D7DA;
    color: #007a89;
  }

  .btn-slide {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .link-formation h4 {
    font-size: 10px;
    margin-left: 5px;
  }

  .picto-list {
    padding-left: 5px;
  }

  .link-formation span {
    top: 18px;
  }

  .footer li {
    padding: 0px 5px;
    font-size: 10px;
  }

  .txt-img-formation {
    position: initial;
    color: #2f2f2f;
    margin-top: 20px;
  }

  .search-bar {
    right: 80px;
  }

  .bd-formation h4 {
    font-size: 10px;
    letter-spacing: 0px;
    margin-top: -50px;
    width: 100%;
    margin-left: 60px;
    padding-left: 66px;
  }

  .bd-formation .picto {
    width: 40px;
    height: 40px;
  }

  .bd-formation h3 {
    margin-top: 0;
    font-size: 9px;
    margin-left: 5px;
  }

  .bck-black {
    padding: 10px;
  }

  .formation-catalogue {
    margin-left: -10px;
    margin-right: -10px;
  }

  .bd-formation h4 {
    font-size: 10px;
    letter-spacing: 0px;
    margin-top: -50px;
    width: 100%; 
  }

  .parole-expert img {
    width: 100%;
    margin-bottom: 20px;
  }

  .infos-form ul {
    margin-left: 0px;
  }

  .hover-mask a {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .hover-mask a .glyphicon-search {
    display: none;
  }

  .liste-formation-home li {
    width: 100%;
  }

  .lieu-formation, 
  .date-formation, 
  .tarif-formation {
    margin-bottom: 0px;
  }

  .content-objectifs {
    padding: 40px 0px;
  }

  .content-contact {
    width: 100%;
  }

  .btn-voir-actu {
    margin-top: 30px;
  }

  .liste-ecole img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: auto;
  }

  .liste-ecole img, 
  .liste-ecole h4 {
    display: block;
  }

  .liste-ecole a {
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  .ecole-equipe th, 
  .ecole-equipe td{
    display: block;
  }

  .ecole-equipe th{
    background-color: #007784;
    color: white;
    padding: 20px 0px;
    padding-left: 10px;
  }

  .ecole-equipe td{
    background-color: #eeeeee;
    padding: 20px 0px;
    border-bottom: 2px solid white;
    padding-left: 10px;
    font-size: 12px;
  }

  .btn-ecole .red-btn {
    padding: 20px;
    width: 100%;
  }

  .contact-header .number  {
    font-size: 15px;
    margin-top: 40px;
    background-color: white;
    padding-bottom: 10px;
  }

  .bg-main-menu .navbar-brand {
    padding: 19px 0px 0px;
    width: 140px;
  }

  .title-carousel {
    font-size: 17px;
  }

  .title-carousel-2 {
    font-size: 20px;
  }

  .content-slide-container p,
  .content-slide a {
    margin-top: 15px;
    font-size: 13px;
  }


  .ecole-equipe .ecole-th-none{
    display: none;
  }

  .btn-inscription a {
    padding: 10px 50px;
  }

  .list-opca a {
    width: 100%;
    text-align: center;
  }

  .icon-cf {
    width: 100%;
  }

  .page-partenaires img {
    text-align: center
  }
  
  .section-page-enfi.page-partenaires a {
    float: left;
    width: 100%;
    text-align: center;
  }

  .page-partenaires h4 {
    text-align: center;
    font-size: 14px;
  }

  .page-partenaires{
    margin-top: 50px;
  }

  .ecole-equipe table {
    background-color: transparent;
    width: 100%;
  }

  .section-download-presse {
    padding: 10px 10px;
  }

  .txt-partage-3,
  .partage-actu{
    text-align: center;
    float: initial;
    margin: 0;
  }

  .txt-partage-3 {
    margin-bottom: 10px;
  }

  .content-slide {
    height: 350px;
  }

  .carousel .slide {
    height: 350px;
  }

  .btn-actu-call {
    width: 250px;
    height: 50px;
    background-color: #cb2929;
    color: white;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .btn-actu-call:hover {
    background-color: #007a89;
  }

  .txt-forme {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }



}

/* -------- 768 --------*/

@media (min-width: 992px){

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

}


/* -------- 768 --------*/

@media (min-width: 768px){

  .navbar-right {
    margin-right: 0px;
  }

}



