#menu-item-100 {
  display: none
}

.bg-main-menu {
  background-color: #007a89;
}

.bg-contact-header {
  background-color: #fff;
  height: 60px;
}

.contact-header {
  position: relative;
  text-align: center;
  padding: 20px 0px 15px;
}

.contact-header .number a {
  font-size: 20px;
  line-height: 20px;
  color: #cb2929;
  font-weight: 700;
}

.contact-header .number a {
  text-decoration: none;
}

.contact-header .number .glyphicon {
  font-size: 18px;
  color: #cb2929;
}

.content-slide-container {
  padding: 20px;
}